:root {
    --preto: #0A0908;
    --azul-escuro: #22333B;
    --creme: #EAE0D5;
    --khaki: #C6AC8F;
    --marrom: #5E503F;
    --laranja: #E67E22;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--azul-escuro);
}

.navbar {
    background: none;
    display: flex;
    color: var(--creme);
    justify-content: center;

}

.navbar a {
    color: var(--creme);
    gap: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: 0 0px 5px #000000;
}

.navbar a:hover {
    color: var(--khaki);
    
}

.div-sobre {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    margin-bottom: 500px;
}

.div-sobre h1 {
    color: var(--creme);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.div-sobre img {
    border-radius: 500px;
    height: 150px;
    box-shadow: 0 2px 15px #000000;
}

#projetos h2 {
    display: flex;
    justify-content: center;
    color: var(--creme);
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 2px 15px #000000;
}

.div-projetos-fundo {
    background: var(--marrom);
    border-radius: 30px;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.div-projetos {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--azul-escuro);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 5px 15px #0A0908;
}

.div-projetos p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--creme);
    text-shadow: 0 1px 8px #0A0908;
}

.div-projetos a {
    background: #E67E22;
    border-radius: 30px;
    padding: 10px;
    color: #0A0908;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    box-shadow: 0 2px 7px #000000;
}

.div-projetos a:hover {
    background: #b6631b;
}

#contato h2 {
    margin-top: 300px;
    text-align: center;
    color: var(--creme);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 0 2px 15px #000000;
}

.borda-icon {
    border: 2px solid #b6631b;
    background: var(--preto);
    border-radius: 500px;
    width: 100px;
    height: 100px;
    color: var(--creme);
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 0 5px #000000;
}

.borda-icon i {
    color: #E67E22 ;
    font-size: 67px;
}

.contato-fundo {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    gap: 40px;
}

.contato-fundo h4 {
    color: var(--laranja);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-shadow: 0 0 5px #000000;
    -webkit-text-stroke: #000000 1px;
    margin-left: 20px;
    margin-top: 30px;
    
}

.contato-linha {
    display: flex;
    justify-content: flex-start;
}

.form-fundo {
    display: flex;
    background: var(--khaki);
    border-radius: 20px;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.form-fundo form {
    background: var(--marrom);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px #000000;
}

.form-fundo  form label {
    color: var(--creme);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 10px #000000;
    font-weight: bold;
}

form textarea {
    background: var(--khaki);
    border-radius: 10px;
}

form input {
    background: var(--khaki);
    border-radius: 10px;    
}

form button {
    background: var(--laranja);
    border-radius: 20px;
}

